@charset "UTF-8";

/*****************************/
/* All content, code and images written and created by Graham Swan (thinkswan@gmail.com), 2010.
/*****************************/

/*****************************/
/* Main Styles
/*****************************/

body {
	font: .95em/1.4em "Helvetica Neue", sans-serif;
	color: #000;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.gutter {
	margin-right: 23px;
}
.clear {
	clear: both;
}
.center {
	display: block;
	margin: 0 auto;
}
.topMargin {
	margin-top: 30px;
}
.hidden {
	display: none;
}
h2 {
	font-weight: bold;
	font-size: 170%;
	background: url(../_images/line.png) no-repeat bottom left;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

/*****************************/
/* Links
/*****************************/

a, a:hover, a:visited {
	color: #3e8de4;
}
a:active {
	position: relative;
	top: 1px;
}

/*****************************/
/* Container
/*****************************/

div#container {
	width: 903px;
	margin: 0 auto;
}
div#mainBox {
	margin: 0 30px;
	padding: 0 16px;
	width: 843px;
	background: url(../_images/box_bg.png) repeat-y;
}
div#mainBox > img {
	padding-bottom: 10px;
}
 
/*****************************/
/* Columns
/*****************************/

p.twoCol {
	width: 380px;
	float: left;
}
p.fourCol {
	width: 205px;
	float: left;
}

/*****************************/
/* Instructions
/*****************************/

span.number {
	float: left;
	font-weight: bold;
	font-size: 170%;
	padding: 0 10px 10px;
}
span.instruction {
	float: left;
	padding-right: 30px;
}
span.instruction pre {
	display: inline;
	font-family: "Courier New";
}
